@font-face {
    font-family: Cocogoose;
    src: url('fonts/Cocogoose-Pro-trial.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Cocogoose, sans-serif;
    line-height: 1.45;
}

/*-----------------*/
/*-----HEADER-----*/
/*---------------*/
header {
    color: #FFFFFF;
    background-color: #C3C5E5;
    padding: 80px;
    padding-bottom: 20px;
}

.header img {
    margin-left: 40%;
    margin-right: 5%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*Presentacion*/
.presentation {
    font-size: 20px;
    font-weight: 500;
    color: black;
    display: inline-block;
    text-align: left;
}

/*Contacto*/
.contact {
    padding: 0;
    margin-top: 20px;
    color: white;
    display: inline-block;
    text-align: left;
}


/*------------------*/
/*-----SECTION-----*/
/*----------------*/

section {
    text-align: left;
}

a {
    color: #52EB5B;
}

/*Portafolio-Informacion*/
.port-info {
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: left;
}

.word {
    padding: 10%;
}

.slash {
    color: #443266;
}

.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
}

.features {
    background: white;
    padding-bottom: 200px;
}

.feature p {
    margin-left: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #A2A5A2;
    font-weight: bold;
    font-size: 20px;
}

.titulo span {
    color: #443266;
}

.contactos span {
    color: #443266;
}

/*-----------------*/
/*-----FOOTER-----*/
/*---------------*/

footer {
    background: #443266;
    padding: 32px;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
}

footer li a {
    padding: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #c3c3c3;
}

footer li a:hover {
    color: white;
}

/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/


/*-------------------------------------*/
/*------------MEDIA QUERIES-----------*/
/*-----------------------------------*/
@media screen and (max-width: 480px) {

    /*HEADER*/
    header {
        padding: 50px;
    }

    .header img {
        margin-left: 100px;
        width: 60px;
        height: 60px;
        display: block;
    }

    .header p {
        margin-left: 25%;
        padding-top: 15px;
        font-size: 10px;
        font-weight: 250;
    }

    .port-info {
        padding: 0px;
        margin-top: 40px;
        margin-left: 25%;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: normal;
        display: block;
    }

    /*SECTION*/
    p {
        font-weight: normal;
        font-size: 10px;
    }

    .word {
        padding: 0;
    }


    .feature p {
        font-weight: normal;
        font-size: 10px;
    }

    /*FOOTER*/
    footer {
        font-size: 10px;
        font-weight: normal;
    }
}